body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255, 246, 236, 0.15);
}

.card {
  background-color: white;
  border-radius: 2px;
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: 10px;
  padding: 18px 18px;
  border: 1px solid rgba(0, 0, 0, 0.10);
}

h2 {
  font-size: 23px;
  margin-bottom: 3px;
  font-weight: 300;
}

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  left: auto;
  right: 0;
  background-color: #394b59;
  color: white;
  padding: 20px 16px;
  -webkit-box-shadow: -2px 10px 23px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 10px 23px -6px rgba(0,0,0,0.75);
  box-shadow: -2px 10px 23px -6px rgba(0,0,0,0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.header a {
  color: white;
  text-decoration: none;
}

.header a.app-link {
  font-size: 18px;
}

.header .external-links a {
  margin-left: 12px;
}

.header .external-links a i {
  font-size: 20px;
}

.profile-header {
  height: 300px;
  background-image: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-position-y: 60%;
  margin-bottom: 30px;
  opacity: 0.60;
}

.profile {
  text-align: center;
}

.profile img {
  border: 10px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 10px 10px 66px -23px rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
}

.profile .name {
  font-size: 34px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.profile .summary {
  text-align: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}